:root {
    /* (Dark Mode Elements)*/
    --dark-blue: hsl(209, 23%, 22%);
    /* (Dark Mode Background) */
    --very-dark-blue-bg: hsl(207, 26%, 17%);
    /* (Light Mode Text) */
    --very-dark-blue: hsl(200, 15%, 8%);
    /* (Light Mode Input) */
    --dark-gray: hsl(0, 0%, 52%);
    /* (Light Mode Background) */
    --very-light-gray: hsl(0, 0%, 98%);
    /* (Dark Mode Text & Light Mode Elements) */
    --white: hsl(0, 0%, 100%);
    --homepage-items: 14px;
    --detail-page: 16px;
    --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    --background-color: hsl(0, 0%, 98%);
    --color-text: hsl(200, 15%, 8%);
    --elements: hsl(0, 0%, 100%);
    background-color: var(--background-color);
    font-size: var(--homepage-items);
    font-family: 'Nunito Sans', sans-serif;
    color: var(--color-text);
}

body.dark-theme {
    --background-color: hsl(207, 26%, 17%);
    --color-text: hsl(0, 0%, 100%);
    --elements: hsl(209, 23%, 22%);
}

header {
    background-color: var(--elements);
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1.5em 0;
}

nav h2 {
    font-size: 14px;
}

nav h3 {
    font-size: 12px;
}

img {
    width: 100%;
    display: block;
}

.container-fluid {
    width: 100%;
}

.container {
    width: 92%;
    margin: 0 auto;
}

nav .icon {
    cursor: pointer;
}

.filtros form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1.5em 0;
}

.container-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 3em;
    border: none;
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    border-radius: .2em;
    background: var(--elements);
}

.container-search i {
    font-size: 18px;
    padding-left: 1.7em;
}

.buscador {
    padding: 1.1em;
    border: none;
    outline: none;
    width: 100%;
    background-color: var(--elements);
    color: var(--color-text);
}

.container-dropdown {
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
}

.c-dropdown {
    font-size: 13px;
    background: var(--elements);
}

.c-dropdown__trigger {
    min-height: 47px;
}

.c-dropdown__filter {
    background-color: var(--elements);
    color: var(--color-text);
}

.c-dropdown__text {
    padding: .5em 1.5em;
}

.c-dropdown__options {
    margin-top: .4em;
    padding: 1.4em 0;
    border: none;
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    border-radius: .2em;
    z-index: 10;
    background-color: var(--elements);
}

.c-dropdown__option {
    padding: .4em 1.5em;
}

.c-dropdown__arrow::before,
.c-dropdown__arrow::after {
    background-color: var(--color-text);
}

.c-dropdown__option--selected {
    background-color: var(--dark-gray);
}

.c-dropdown__option:hover,
.c-dropdown__option--hover {
    background-color: hsl(0deg 5% 92%);
    color: black;
}

.card {
    width: 100%;
    padding: 1em 2.7em;
    margin-bottom: .5em;
}

.card-container {
    border-radius: .5em;
    overflow: hidden;
    background-color: var(--elements);
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    cursor: pointer;
}


/* .card-container img {
    max-height: 160px;
} */

.card-body {
    padding: 1.7em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 3em;
}

.card-body span {
    margin-bottom: .5em;
}

.card-title {
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 1em;
}

@media (prefers-color-scheme: dark) {
    body {
        --background-color: hsl(207, 26%, 17%);
        --color-text: hsl(0, 0%, 100%);
        --elements: hsl(209, 23%, 22%);
    }
    body.light-theme {
        --background-color: hsl(0, 0%, 98%);
        --color-text: hsl(200, 15%, 8%);
        --elements: hsl(0, 0%, 100%);
    }
    img {
        opacity: .75;
        transition: opacity .5s ease-in-out;
    }
    img:hover {
        opacity: 1;
    }
    body.light-theme img {
        opacity: 1;
    }
}

@media (min-width:640px) {
    #countries {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:768px) {
    #countries {
        -ms-grid-columns: 1fr 2.7em 1fr 2.7em 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        -webkit-column-gap: 2.7em;
        -moz-column-gap: 2.7em;
        column-gap: 2.7em;
    }
    .card {
        padding: 1em 0;
    }
}

@media (min-width:1024px) {
    .filtros form {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .container-search {
        width: 40%;
    }
    .container-dropdown {
        margin-bottom: 3em;
    }
    #countries {
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}